/* colors */
@define-color fg #D3C6AA;
@define-color bg #232A2E;

@define-color noti #2D353B;
@define-color noti-hover #3D484D;
@define-color shadow #181C1F;
@define-color dnd #3A515D;
@define-color crit #543A48;
@define-color red #E67E80;

/* main config */
* {
    all: unset;
    font-family: FiraCode Nerd Font;
}

.control-center {
    background-color: @bg;
    border-radius: 12px;
}

.control-center-list-placeholder {
    color: @fg;
    opacity: 0.5;
}

.control-center .notification {
    background-color: @noti;
    border-radius: 12px;
    margin: 8px 15px;
    box-shadow: 0 5px 0 -1px @shadow;
}

.control-center .notification-default-action:hover {
    background-color: @noti-hover;
    border-radius: 12px;
}

.widget-title {
    font-size: 17px;
    font-weight: bold;
    color: @fg;
    border-bottom: 2px solid @noti-hover;
    padding-bottom: 15px;
    margin: 15px;
}

.widget-title > button {
    background-color: @noti;
    border-radius: 14px;
    padding: 9px;
}

.widget-title > button:hover {
    background: @noti-hover;
    transition: background-color 0.15s ease-in-out;
}

.widget-dnd {
    font-size: 14px;
    font-weight: bold;
    color: @fg;
    margin: 0 20px;
}

.widget-dnd > switch {
    color: transparent;
    background-color: @noti;
    border-radius: 12px;
}

.widget-dnd > switch:checked {
    background-color: @dnd;
}

.widget-dnd > switch slider {
    background: @fg;
    border-radius: 100%;
    min-height: 28px;
    min-width: 28px;
}

.notification {
    background-color: @bg;
    color: @fg;
    border-radius: 12px;
    margin-top: 10px;
    margin-right: 10px;
}

.notification-content {
    margin: 10px;
}

.notification .image {
    border-radius: 12px;
    margin-right: 10px;
}


.notification-group.collapsed:hover .notification {
    background-color: @noti-hover;
    transition: background-color 0.15s ease-in-out;
}

.notification-group-headers {
    font-size: 14px;
    font-weight: bold;
    color: @fg;
    margin: 10px 20px;
}

.notification-group-icon {
    margin-right: 10px;
}

.notification-group-buttons {
    color: @fg;
    background-color: @bg;
    margin-right: 15px;
}

.close-button {
    color: @fg;
    background-color: @noti;
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
    margin: 10px 10px 0;
}

.close-button:hover {
    background-color: @red;
    transition: background-color 0.15s ease-in-out;
}

.notification.critical {
    background-color: @crit;
}
