/* Import your theme here */
@import "themes/everforest.css";

* {
  all: unset;
  font-family: FiraCode Nerd Font;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  color: @fg;
}

.module {
  border-radius: 12px;
  padding: 0 10px;
}

#workspaces {
  padding: 0 5px;
  background-color: @bg;
}

#workspaces button {
  color: @fg;
  margin: 7px 5px;
  border-radius: 10px;
  padding: 0 10px;
  min-width: 15px;
}

#workspaces button.active {
  background-color: @ws;
  color: @bg;
}

#window {
  background-color: @green;
  margin: 0 5px;
}

window#waybar.empty #window {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

#clock {
  background-color: @bg;
  padding: 0 14px;
}

#hardware {
  background-color: @red;
  border-radius: 12px;
  margin-right: 5px;
}

#cpu {
  padding-right: 0;
}

#custom-separator {
  padding-right: 5px;
  padding-left: 14px;
}

#memory {
  padding-left: 0;
  padding-right: 16px;
}

#custom-pacman {
  background-color: @yellow;
  padding-right: 16px;
  margin-right: 5px;
}

#pulseaudio {
  padding-right: 6px;
  background-color: @green;
}

#other {
  margin: 0 5px;
  background-color: @blue;
  border-radius: 12px;
}

#network {
  padding: 0 11px;
  padding-right: 9px;
}

#powermenu {
  background-color: @purple;
  border-radius: 12px;
}

#custom-menu {
  padding: 0 14px;
  padding-right: 13px;
}

#custom-reboot {
  padding-right: 6px;
}
