/* Import your theme here */
@import "themes/everforest.css";

* {
  all: unset;
  font-family: FiraCode Nerd Font;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  color: @fg;
}

#workspaces {
  background-color: @bg;
  border-radius: 12px;
  padding: 0 5px;
}

#workspaces button {
  color: @fg;
  border-radius: 10px;
  min-width: 14px;
  padding: 0 10px;
  margin: 7px 5px;
}

#workspaces button.active {
  color: @bg;
  background-color: @main;
}

#window {
  background-color: @green;
  border-radius: 12px;
  padding: 0 10px;
  margin: 0 5px;
}

window#waybar.empty #window {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#clock {
  background-color: @bg;
  border-radius: 12px;
  padding: 0 14px;
}

#hardware {
  background-color: @red;
  border-radius: 12px;
  padding: 0 10px;
  margin-left: 5px;
}

#custom-separator {
  padding-left: 4px;
  padding-right: 7px;
}

#other {
  background-color: @orange;
  border-radius: 12px;
  margin-left: 5px;
}

#network {
  padding-left: 12px;
  padding-right: 10px;
}

#network.disconnected {
  padding-left: 14px;
  padding-right: 8px;
}

#custom-pacman {
  background-color: @yellow;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 7px;
  margin-left: 5px;
}

#pulseaudio {
  background-color: @green;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 5px;
}

#custom-notification {
  background-color: @blue;
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 7px;
  margin-left: 5px;
}

#custom-notification.dnd-none,
#custom-notification.dnd-inhibited-none,
#custom-notification.dnd-notification,
#custom-notification.dnd-inhibited-notification {
  padding-left: 14px;
  padding-right: 8px;
}

#powermenu {
  background-color: @purple;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 7px;
  margin-left: 5px;
}

#custom-sleep {
  padding-left: 0;
  padding-right:  5px;
}

#custom-reboot {
  padding-left: 6px;
  padding-right: 10px;
}
