/* colors */
@define-color bg #2D353B;
@define-color fg #D3C6AA;

@define-color red #543A48;
@define-color orange #514045;
@define-color yellow #4D4C43;
@define-color green #425047;
@define-color blue #384B55;
@define-color purple #523c56;

/* main config */
* {
    all: unset;
    font-family: FiraCode Nerd Font;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    color: @fg;
}

#workspaces {
    background-color: @bg;
    border-radius: 12px;
    padding: 0 5px;
}

#workspaces button {
    color: @fg;
    border-radius: 10px;
    min-width: 14px;
    padding: 0 10px;
    margin: 7px 5px;
}

#workspaces button.active {
    color: @bg;
    background-color: @fg;
}

#window {
    background-color: @green;
    border-radius: 12px;
    padding: 0 10px;
    margin: 0 5px;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#clock {
    background-color: @bg;
    border-radius: 12px;
    padding: 0 14px;
}

#hardware {
    background-color: @orange;
    border-radius: 12px;
    padding: 0 10px;
    margin-left: 5px;
}

#custom-separator {
    padding-left: 4px;
    padding-right: 7px;
}

#network {
    background-color: @red;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 10px;
    margin-left: 5px;
}

#network.disconnected {
    padding-left: 14px;
    padding-right: 8px;
}

#pulseaudio {
    background-color: @purple;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 5px;
}

#custom-notification {
    background-color: @blue;
    border-radius: 12px;
    padding-left: 14px;
    padding-right: 6px;
    margin-left: 5px;
}

#custom-notification.dnd-none,
#custom-notification.dnd-notification {
    padding-left: 13px;
    padding-right: 7px;
}

#custom-powermenu {
    background-color: @green;
    border-radius: 12px;
    padding-left: 13px;
    padding-right: 6px;
    margin-left: 5px;
}
