[Desktop Entry]
Type=Application
Name=ranger
GenericName=File Manager
Comment=Launches the ranger file manager
Terminal=true
Exec=ranger
Categories=ConsoleOnly;System;FileTools;FileManager
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
